<style>

  body {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
  }
  .album {
    width: 400px;
    height: 400px;
    background-color: pink;
    display: inline-block;
  }
</style>


<div class="album"></div>
<div class="album"></div>
