
<div class="albums-viewport spindle">
  <div class="albums-scroll-track">
    <div class="flipper-container">
      <div class="flipper">
        <div class="front album">Front Album</div>
        <div class="back album">Back Album</div>
      </div>
    </div>

    <div class="flipper-container" style="z-index: 7;">
      <div class="flipper" style="transform: rotateY(135deg) translateX(0px);">
        <div class="front album">Front Album</div>
        <div class="back album">Back Album</div>
      </div>
    </div>

    <div class="flipper-container" style="z-index: 6;">
      <div class="flipper" style="transform: rotateY(142deg) translateX(-33px);">
        <div class="front album">Front Album</div>
        <div class="back album">Back Album</div>
      </div>
    </div>

    <div class="flipper-container" style="z-index: 5;">
      <div class="flipper" style="transform: rotateY(149deg) translateX(-66px);">
        <div class="front album">Front Album</div>
        <div class="back album">Back Album</div>
      </div>
    </div>

    <div class="flipper-container" style="z-index: 4;">
      <div class="flipper" style="transform: rotateY(156deg) translateX(-99px);">
        <div class="front album">Front Album</div>
        <div class="back album">Back Album</div>
      </div>
    </div>

    <div class="flipper-container" style="z-index: 3;">
      <div class="flipper" style="transform: rotateY(163deg) translateX(-132px);">
        <div class="front album">Front Album</div>
        <div class="back album">Back Album</div>
      </div>
    </div>

    <div class="flipper-container" style="z-index: 2;">
      <div class="flipper" style="transform: rotateY(170deg) translateX(-165px);">
        <div class="front album">Front Album</div>
        <div class="back album">Back Album</div>
      </div>
    </div>

    <div class="flipper-container">
      <div class="flipper" style="transform: rotateY(180deg) translateX(-200px);">
        <div class="front album">Front Album</div>
        <div class="back album">Back Album</div>
      </div>
    </div>
  </div>
</div>
