
<div class="albums-viewport">
  <div class="albums-scroll-track">
    <div class="flipper-container">
      <div class="flipper">
        <div class="album"></div>
      </div>
    </div>

    <div class="flipper-container">
      <div class="flipper">
        <div class="album"></div>
      </div>
    </div>
  </div>
</div>
