extends layout

block content
  button#playPause(onclick="return playPause()") Play

  br

  |Duration:&nbsp;
  span#duration 0

  br

  |Progress:&nbsp;
  span#trackHead 0

  br

  input(type="range" style="width: 300px")#progress-slider

  ul
    each track in tracks
      li
        a(href=track.path onclick='return play(this)')= track.name

  include player.ejs
