doctype html
html(ng-app="goldielox")
  head
    title= title
    != css("goldielox")
    script(src="/javascripts/underscore.js")
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/backbone.js")
    script(src="/javascripts/angular.js")
    script(src="/javascripts/goldielox.js")
  body
    goldielox
    #youtubePlayer
