doctype html
html(ng-app="goldielox")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/interface.css')
    script(src="/javascripts/angular.min.js")
    script(src="/javascripts/goldielox.js")
  body
    goldielox
