doctype html
html(ng-app="goldielox")
  head
    title= title
    != css("goldielox")
    script(src="https://www.youtube.com/iframe_api")
    script(src="/javascripts/underscore.js")
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/backbone.js")
    script(src="/javascripts/angular.js")
    != js("goldielox")

  body
    goldielox
    #youtube-player
