doctype html
html(ng-app)
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/interface.css')
    script(src="/javascripts/angular.min.js")
    script(src="/javascripts/interface.js")
  body
    #interface-container
      include albums.html.ejs

      h1#track-name

      #transport
        button#playPause(onclick="return playPause()" style="width: 50px; position: absolute;") Play

        #progress
          span#trackHead(style="width:50px; display: inline-block; text-align: right;") 0:00
          &nbsp;
          input(type="range" style="width: 300px" value=0)#progress-slider
          &nbsp;
          span#duration(style="width:50px; display: inline-block; text-align: left;") 0:00

        input(type="range" style="width: 77px" max=1 step=.01 value=1)#volume-slider

      ul#track-list
        each track, index in tracks
          li
            a(href=track.path onclick='return play(this)' index=index+1)= track.name
