<script>
  var audio = document.createElement('audio');

  (function(){
    var audio = document.createElement('audio');


    //audio.src = "/media/music/Unknown Artist/Unknown Album/Kim Walker Smith - 10,000 Reasons (Bless The Lord).mp3"
    audio.src = "/media/music/Unknown Artist/Unknown Album/Psalm 91 Sons of Korah.mp3"
    //audio.play()

    //console.log("hello");
  })()


  var trackHeadEl = document.getElementById('trackHead');
  var durationEl = document.getElementById('duration');
  var progressSliderEl = document.getElementById('progress-slider');
  var volumeSliderEl = document.getElementById('volume-slider');
  var trackNameEl = document.getElementById('trackName');
  var playPauseButton = document.getElementById('playPause');
  var seeking = false;

  updateTrackHead = function() {
    if (seeking) { return; }

    var timerange = audio.played;

    if (timerange) {
      /*trackHeadEl.innerHTML = parseInt(audio.played.end(0))*/
      var currentTime = parseInt(audio.currentTime);

      var minutes = parseInt(currentTime / 60)
      var seconds = currentTime - minutes * 60

      if (seconds < 10) // Add leading zero
        seconds = "0" + seconds ;

      trackHeadEl.innerHTML = minutes + ":" + seconds;
      progressSliderEl.value = currentTime;
    }
  }

  setInterval(updateTrackHead, 1000);

  duration = function () {
    audio.duration
  }


  progressSliderEl.onmousedown = function () {
    seeking = true;
  }

  progressSliderEl.onmouseup = function () {
    seeking = false;
  }

  progressSliderEl.onchange = function () {
    audio.currentTime = this.value
  }

  volumeSliderEl.onchange = function () {
    audio.volume = this.value
  }

  /*.ondrag*/

  pause = function () {
    audio.pause()
    playPauseButton.innerHTML = "Play";
    return false;
  }

  playPause = function () {
    if (audio.paused) {
      play();
    } else {
      pause();
    }

  }

  audio.onloadedmetadata = function () {
    var duration = parseInt(audio.duration);

    var minutes = parseInt(duration / 60)
    var seconds = duration - minutes * 60

    if (seconds < 10) // Add leading zero
      seconds = "0" + seconds

    durationEl.innerHTML = minutes + ":" + seconds;

    progressSliderEl.value = 0;
    progressSliderEl.max = duration;
  }

  play = function(that){
    playPauseButton.innerHTML = "Pause";
    if (that == null) {
      audio.play();
      return false;
    }

    audio.src = that.href

    audio.play();

    trackNameEl.innerHTML = that.innerHTML;


    return false;
  };
</script>


<div>
  <label>Name:</label>
  <input type="text" ng-model="yourName" placeholder="Enter a name here">
  <hr>
  <h1>Hello {{yourName}}!</h1>
</div>
