
<div class="albums-viewport spindle">
  <div class="albums-scroll-track">
    <div class="flipper-container">
      <div class="flipper">
        <div class="front album" style="background: url('/library/When Christmas Comes/cover.png');">
          <div class="album-overlay">
            <h1 class="album-title">When Christmas Comes</h1>
            <ol>
              <li><a href="#">Tell Me the Story of Jesus</a></li>
              <li><a href="#">Silent Night</a></li>
              <li><a href="#">Angels We Have Heard On High</a></li>
              <li><a href="#">It's Beginning to Look a Lot Like Christmas</a></li>
              <li><a href="#">I'll Be Home for Christmas</a></li>
              <li><a href="#">The First Noel</a></li>
              <li><a href="#">Away in a Manger</a></li>
              <li><a href="#">Have Yourself a Merry Little Christmas</a></li>
              <li><a href="#">Let it Snow</a></li>
              <li><a href="#">O Come, O Come, Emmanuel</a></li>
              <li><a href="#">O Come All Ye Faithful</a></li>
              <li><a href="#">O Holy Night</a></li>
              <li><a href="#">Carol of the Bells</a></li>
              <li><a href="#">Winter Wonderland</a></li>
              <li><a href="#">Rudolph the Red-Nosed Reindeer</a></li>
              <li><a href="#">White Christmas</a></li>
              <li><a href="#">The Christmas Song</a></li>
            </ol>
          </div>
        </div>

        <div class="back album">Back Album</div>
      </div>
    </div>

    <div class="flipper-container" style="z-index: 7;">
      <div class="flipper" style="transform: rotateY(135deg) translateX(0px);">
        <div class="front album">Front Album</div>
        <div class="back album">Back Album</div>
      </div>
    </div>

    <div class="flipper-container" style="z-index: 6;">
      <div class="flipper" style="transform: rotateY(142deg) translateX(-33px);">
        <div class="front album">Front Album</div>
        <div class="back album">Back Album</div>
      </div>
    </div>

    <div class="flipper-container" style="z-index: 5;">
      <div class="flipper" style="transform: rotateY(149deg) translateX(-66px);">
        <div class="front album">Front Album</div>
        <div class="back album">Back Album</div>
      </div>
    </div>

    <div class="flipper-container" style="z-index: 4;">
      <div class="flipper" style="transform: rotateY(156deg) translateX(-99px);">
        <div class="front album">Front Album</div>
        <div class="back album">Back Album</div>
      </div>
    </div>

    <div class="flipper-container" style="z-index: 3;">
      <div class="flipper" style="transform: rotateY(163deg) translateX(-132px);">
        <div class="front album">Front Album</div>
        <div class="back album">Back Album</div>
      </div>
    </div>

    <div class="flipper-container" style="z-index: 2;">
      <div class="flipper" style="transform: rotateY(170deg) translateX(-165px);">
        <div class="front album">Front Album</div>
        <div class="back album">Back Album</div>
      </div>
    </div>

    <div class="flipper-container">
      <div class="flipper" style="transform: rotateY(180deg) translateX(-200px);">
        <div class="front album">Front Album</div>
        <div class="back album">Back Album</div>
      </div>
    </div>
  </div>
</div>
