.album-show {
  margin: 20px auto;
  width: 777px;

  img {
    border-radius: 4px;
    margin: 27px auto;
    width: 100%;
    display: block;
  }

  h2 {
    font-family: sans-serif;
    font-weight: 100;
    color: #927216;
    margin: 10px 0;
  }

  #track-list {
    border: 1px solid #DCAF2F;
    border-radius: 4px;
    padding-left: 0;
    list-style: none;
    background-color: #FFFAF0;


    li {
      padding: 10px 7px 7px 60px;
      margin-left: 0;
      height: 20px;
      border-bottom: 1px solid #F1D279;
      font-family: sans-serif;
      font-weight: lighter;
      cursor: pointer;
      color: #69500A;
      position: relative;

      &.current {
        border-left: 3px solid #DCAF2F;
      }

      .close {
        float: right;
        color: #ccc;
      }

      &:last-child {
        border-bottom: none;
      }

      a {
        text-decoration: none;
        color: #927216;
      }

      .play-button {
        div {
          border: 1px solid #EACF7F;
          border-left: none;
          width: 10px;
          height: 20px;
          position: absolute;
          left: 20px;
          top: 8px;
          border-radius: 0 20px 20px 0;
          margin-left: 10px;
          transform-origin: left center;
        }

        div:first-child{
        }

        div:nth-child(2) {
        }

        div:nth-child(3) {
          border-color: #FFFAF0;
        }

        div:nth-child(4) {
          transform: rotate(180deg);
        }

        div:nth-child(5) {
          border-color: #FFFAF0;
          transform: rotate(180deg);
        }

      }

      &.playing {
        .play-button div {
          background-color: #F7E6B7;
        }
      }

      &:hover {
        .close {
          color: #ccc;
          &:hover {
            color: #aaa;
          }
        }
      }
    }

  }


}

/* Special thanks to: */
/* http://css-tricks.com/almanac/properties/t/transform-origin/ */
