#playlist {
  width: 600px;
  height: 340px;
  border: 1px solid #DCAF2F;
  margin: 20px auto;
  border-radius: 4px;
  overflow-y: scroll;
  padding: 0;
  list-style: none;

  li {
    padding: 10px;
    margin-left: 0;
    height: 20px;
    border-bottom: 1px solid #F1D279;
    font-family: sans-serif;
    font-weight: lighter;
    cursor: pointer;
    color: #69500A;


    &.current {
      border-left: 3px solid #DCAF2F;
    }

    .close {
      float: right;
      color: #ccc;
    }

    &:hover {
      .close {
        color: #ccc;
        &:hover {
          color: #aaa;
        }
      }
    }

  }

}
