#playlist {
  width: 600px;
  height: 340px;
  border: 1px solid #ddd;
  margin: 20px auto;
  border-radius: 4px;
  overflow-y: scroll;
  padding: 0;
  list-style: none;

  li {
    padding: 10px;
    margin-left: 0;
    height: 20px;
    border-bottom: 1px solid #eee;
    font-family: sans-serif;
    font-weight: lighter;
    cursor: pointer;


    &.current {
      border-left: 3px solid #ccc;
    }

    .close {
      float: right;
      color: #ccc;
    }
  }

}
